html {
    background: url(http://docs.google.com/uc?export=open&id=1k3jTMfYj93JaINO_DxtMA6kvY2S0tYvg)
      no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: "Anton", sans-serif;
    overflow: auto;
  }
  
  .sidebar {
    margin-left: 100px;
    padding: 0;
    max-width: 400px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 25px;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  div.content {
    max-width: 1100px;
    margin: auto;
  }
  
  a:hover {
    color: silver;
  }
  
  .EVO-logo {
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  
  #main-title {
    width: 50%;
    margin: auto;
  }
  
  #main-title-container {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  #top-container {
    margin-top: 100px;
  }
  
  li {
    display: inline;
  }
  
  #top-container {
    display: flex;
    text-align: center;
  
    margin: 0 auto;
    margin-bottom: 1.5em;
    max-width: 1000px;
    padding: 1em;
  }
  
  #left-side {
    align-content: left;
    margin-top: 15px;
    width: 50%;
  }
  
  #right-side {
    align-content: center;
    margin-left: 125px;
    text-align: justify;
  }
  
  iframe {
    width: 600px;
    height: 350px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h2:before,
  h2:after {
    content: "";
    border-top: 2px dotted;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
  }
  
  h2:after {
    margin: 0 0 0 20px;
  }
  
  #games {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }
  
  .game {
    width: 214px;
    height: 140px;
  }

  .game:hover {  
    opacity: 0.3;
  }
  
  #name, #email, #Gamer-Tag {
    width: 100%;
}

#name-section, #email-section, #Gamer-Tag-section, #submit-section{
    text-align: left;
    margin: 1em;
}

@media only screen and (min-width: 1080px) {
    #games {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-items: center;
      }
}

#credit {
    text-align: center;
    color: white;
}
