html {
    background: url(http://docs.google.com/uc?export=open&id=1k3jTMfYj93JaINO_DxtMA6kvY2S0tYvg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Anton', sans-serif;
    overflow: auto;    

}

.dashed-line {
    border-top: 1px dotted silver;
    width: 50%;
    margin: auto;
}

.sidebar {
    margin-left: 100px;
    padding: 0;
    max-width: 400px;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 25px;
}

 .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }

  div.content {
    height: 1000px;
  }

  a:hover {
    color: silver;
  }


.EVO-logo {
    display: inline-block;
    height: 50px;
    width: 50px;

}

#main-title {
    width: 50%;
    margin: auto;
}


#main-title-container{
    text-align: center;
    font-size: 25px;
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-content: center;
}

#top-container {
    margin-top: 100px;
}

li {
    display: inline;
}

#top-container {
    display: flex;
    text-align: center;
    
    margin: 0 auto;
    margin-bottom: 1.5em;
    max-width: 1000px;
    padding: 1em;

}

#left-side {
    align-content: left;
    margin-top: 15px;
    width: 50%;

}

#right-side {
    align-content: center;
    margin-left: 125px;
    text-align: justify;
    
}

iframe {
    width: 600px;
    height: 350px;
}

a {
    text-decoration: none; 
    color: white;
}